@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: #333 url('https://66.media.tumblr.com/6020ca4fcbeb69877d83f18364149a28/dac178c4dd7ff7c0-a8/s2048x3072/df3f6772853c2bc4b5a3101932448f354daaa7ee.jpg') no-repeat center center / cover;
  color: #ccc;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}
h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
}
h1 {
  font-size: 3.5rem;
  margin-top: 300px;
}
h2 {
  font-size: 2rem;
  color: #aaa;
}
h3 {
  margin-top: 200px;
  text-align: center;
  justify-content: center;
}

/* CURSOR
.txt-type > .txt {
  border-right: 0.2rem solid #777;
} */

@media(min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }
  h1 {
    font-size: 3rem;
  }
}
@media (max-wight: 500px){
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
